
# Additional HA ecosystem packages required by tests
aiohttp_cors
aiousbwatcher
asyncio_mqtt
homeassistant
pydispatcher
pyserial
# Test dependencies for pytest
pytest>=9.0.3
pytest-cov
pytest-homeassistant-custom-component
pyudev
serialx
zeroconf
zwave-js-server-python
