# Test dependencies for pytest
pytest
pytest-cov
pytest-homeassistant-custom-component

# Additional HA ecosystem packages required by tests
aiohttp_cors
aiousbwatcher
asyncio_mqtt
homeassistant
pydispatcher
pyserial
pyudev
zeroconf
zwave-js-server-python
